table.full-table {
    width: 100%;
}

.mdl-layout__content > .wrap {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    display: inline-block;
}

.table-divider > th {
    color: white;
    text-align: center;
}

tbody:nth-of-type(even) .table-divider {
    background: rgb(255,193,7);
}

tbody:nth-of-type(odd) .table-divider {
    background: rgb(255,152,0);
}
