{% extends 'template.html' %}
{% set active_page = 'animation_songs' %}
{% block title %}Animation songs{% endblock %}
{% block page_title %}Animation songs{% endblock %}
{% block body %}
<table class="full-table mdl-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th>TJ</th>
      <th>KY</th>
    </tr>
  </thead>
  {% for division in songs|sort %}
  <tbody>
    <tr class="table-divider">
      <th role="button" class="mdl-data-table__cell--non-numeric" colspan="3">{{ division }}</th>
    </tr>
    <tr style="display: none;">
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th>TJ</th>
      <th>KY</th>
    </tr>
    {% for song in songs[division]|sort(attribute='title') %}
    <tr style="display: none;">
      <td class="mdl-data-table__cell--non-numeric">{{ song.title }}</td>
      <td>{{ song.number_tj or '' }}</td>
      <td>{{ song.number_ky or '' }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endfor %}

</table>
{% endblock %}
