{% extends 'template.html' %}
{% block title %}Karaoke book{% endblock %}
{% block page_title %}Search songs{% endblock %}
{% block body %}
<div>
  <form action="{{url_for('songs')}}">
    <div class="input-group">
      <span class="input-group-addon">
        <select name="vendor">
          <option value="ALL">ALL</option>
          {% for vendor in vendors %}
          <option value="{{vendor.name}}">{{vendor.name}}</option>
          {% endfor %}
        </select>
      </span>

      <input name="query" class="form-control" placeholder="Title, singer, etc." />

      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Find</button>
      </span>
    </div>
  </form>
</div>

<div id="result">
  <table class="table table-striped">
    <tr class="header">
      <th>Vendor</th>
      <th>Number</th>
      <th>Title</th>
      <th>Singer</th>
    </tr>
  </table>
</div>
{% endblock %}
