{% extends 'template.html' %}
{% set active_page = 'index' %}
{% block title %}Karaoke book{% endblock %}
{% block page_title %}Search songs{% endblock %}
{% block body %}
<div>
  <form action="{{url_for('songs')}}">
    <select name="vendor">
      <option value="ALL">ALL</option>
      {% for vendor in vendors %}
      <option value="{{vendor.name}}">{{vendor.name}}</option>
      {% endfor %}
    </select>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input name="query" id="query" class="mdl-textfield__input">
      <label class="mdl-textfield__label" for="query">Title, singer, etc.</label>
    </div>

    <button type="submit" class="mdl-button material-icons">search</button>
  </form>
</div>

<div id="result">
  <table class="full-table mdl-data-table">
    <tr class="header">
      <th class="mdl-data-table__cell--non-numeric">Vendor</th>
      <th class="mdl-data-table__cell--non-numeric">Number</th>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Singer</th>
    </tr>
  </table>
</div>
{% endblock %}
