<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="//code.jquery.com/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            function handlerQuery(event) {
                var target = $(event.target).closest('form');
                var vendor = target.children('[name=vendor]').val();
                var queryType = target.children('[name=type]').val();
                var val = target.children('[name=query]').val();
                $.ajax({
                    method: target.attr('method'),
                    url: target.attr('action'),
                    data: {
                        'vendor': vendor,
                        queryType: val,
                    },
                }).success(function(data) {
                    var songs = data.songs;
                    var target = $('#result');
                    var table = $('<table></table>');
                    var header = $(['<tr>',
                        '<th>Vendor</th>',
                        '<th>Number</th>',
                        '<th>Title</th>',
                        '<th>Singer</th>',
                        '</tr>'].join(''));

                    target.html(null);
                    table.append(header);
                    for (var i=0; i<songs.length; i++) {
                        var row = $(['<tr>',
                            '<td>' + songs[i].vendor +'</td>',
                            '<td>' + songs[i].number +'</td>',
                            '<td>' + songs[i].title +'</td>',
                            '<td>' + songs[i].singer +'</td>',
                            '</tr>'].join(''));
                        table.append(row);
                    }
                    target.append(table);

                });
                event.preventDefault();
            }
            $(function() {
                $('form').submit(handlerQuery);
            });
        </script>
        <title>Index</title>
    </head>
    <body>
        <form action="{{url_for('songs')}}">
            <select name="vendor">
                <option value="ALL">ALL</option>
                {% for vendor in dbm.get_all_vendors() %}
                    <option value="{{vendor.name}}">{{vendor.name}}</option>
                {% endfor %}
            </select>
            <select name="type">
                <option value="title">Title</option>
                <option value="number">Number</option>
                <option value="singer">Singer</option>
            </select>

            <input name="query" />
            <input type="submit" />
        </form>
        <div id="result">
        </div>
    </body>
</html>
