{% set navigation_bar = [
('index', 'Search'),
('animation_songs', 'Anisong'),
] -%}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="all" charset="utf-8">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{url_for('static', filename='master.js')}}" type="text/javascript" charset="utf-8"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          {% for id, caption in navigation_bar %}
          <li {% if id == active_page %}class="active"{% endif %}>
            <a href="{{ url_for(id) }}">{{ caption }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <header class="page-header">
      <div class="container">
        <h1>{% block page_title %}{% endblock %}</h1>
      </div>
    </header>

    <div class="container">
      {% block body %}{% endblock %}
      {% include 'google-adsense.html' ignore missing with context %}
    </div>

    <footer class="footer">
      <div class="container">
        <a href="https://github.com/kjwon15/karaoke-server">
          <img alt="Get source code on Github" src="{{url_for('static', filename='img/GitHub-Mark-32px.png')}}" />
        </a>
        <a href="https://play.google.com/store/apps/details?id=kai.search.karaokebook">
          <img alt="Get it on Google Play"
          src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a>
        <a href="https://www.windowsphone.com/s?appId=ff0c39b0-875f-4c9f-83c1-0bda99f3c668">
          <img alt="Get it on Windows store"
          src="{{url_for('static', filename='img/154x40_WPS_Download_blk.png')}}" />
        </a>
      </div>
    </footer>

    {% include 'google-analytics.html' ignore missing with context %}
  </body>
</html>
